extends layout

block head
    title スマホ・キオスク

block content
    .container.container-fluid
        .container-16-9
            .content 16:9
        .container-16-3
            .content.font-brand 吉野家」ヤマザキ店：順番入り
        .container-16-4
            .content
                .row
                    .col-md-12
                        .font-counter 23組
                        p.font-submsg ただいま「23組」のお客さんはお待ちしております
    .container
        .row
            .col-md-12
                .panel.panel-defuult
                    .panel-body
                        p.
                            東京都が豊洲市場の土壌の汚染対策について、
                            汚染対策の工事方法などを検討した専門家は都が独断で方針を変えたことに対し「驚き、憤りを感じる」と話しています。
        .row
            .col-md-12
                a.btn.btn-raised.btn-block.btn-info.btn-lg(href="javascript:void(0)") サインで順番に入ります
        .row
            .col-md-12
                .panel.panel-defuult
                    .panel-body Basic Panel
