doctype html
html
    head
        block head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Theme Color
        meta(name="theme-color", content="#ff5722")
        meta(name="msapplication-navbutton-color", content="#ff5722")
        meta(name="apple-mobile-web-app-status-bar-style", content="#ff5722")

        link(rel='apple-touch-icon', href='apple-touch-icon.png')

        // jQuery
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')

        // Google Material Fonts
        link(rel='stylesheet', type="text/css", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700")
        link(rel='stylesheet', type="text/css", href="//fonts.googleapis.com/icon?family=Material+Icons")

        // Bootstrap
        link(rel='stylesheet', type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src='lib/tether/dist/js/tether.min.js')

        // Bootstrap Material
        link(rel='stylesheet', type="text/css", href='lib/bootstrap-material-design/dist/css/bootstrap-material-design.min.css')
        link(rel='stylesheet', type="text/css", href="lib/bootstrap-material-design/dist/css/ripples.min.css")
        script(src='lib/bootstrap-material-design/dist/js/material.min.js')
        script(src='lib/bootstrap-material-design/dist/js/ripples.min.js')

        // user style
        link(rel='stylesheet', type="text/css", href='css/style.css')

        // Modernizr
        // script(src='js/vendor/modernizr-2.8.3.min.js')
    body
        #content
            block content
        script.
            $.material.init();
