/**
*   Mixin
*/
/**
*   Style
*/
.container-16-9 {
  position: relative;
}
.container-16-9:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.container-16-9 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
